PORT=3000
DB_HOST=db-praktikum-submit.mysql.database.azure.com
DB_USER=mysqladmin
DB_PASSWORD=your_mysql_password_here
DB_NAME=praktikum_db
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string_here
ADMIN_PASSWORD=your_admin_password_here
